@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    height: 100%;
    min-height: 100%;
}

*{
    font-family: 'Roboto', sans-serif;
}
.search-box{ 
    background-color: whitesmoke;
    margin-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(173,173,173,1);
-moz-box-shadow: 2px 3px 5px 0px rgba(173,173,173,1);
box-shadow: 2px 3px 5px 0px rgba(173,173,173,1);
}

.search-box input{
    flex:3;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    outline: none; 
    font-size: 1.5em;
    text-align: center;
}
.search-box button{
    flex:1;
    padding: 10px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(39, 0, 78);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    outline: none;
    border-width: 0;
}
.container{
    display: flex ;
    flex-direction: column; 
    margin:0 10%;
    font-size: medium;
}

.results-container{
    margin-top: 40px;
}


/* search result styles */

.search-item-container{
    display: flex ;
    flex-direction: column;
    cursor: pointer;
    background-color: whitesmoke;
    margin: 7px 0;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(173,173,173,1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(173,173,173,1);
    box-shadow: 2px 3px 5px 0px rgba(173,173,173,1);

}

.search-item-title{
    font-size: 2em;
}

.search-item-description{
    font-size: 1.2em;
}
/* main title */
.main-title{ 
    display: flex;
    flex-direction: column;
    text-align: center;
}
.main-title h1{
font-size: 2em;
font-weight: 400;
} 
/* episode results styles */

.episode-item-container{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    margin: 7px 0;
    padding: 7px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(173,173,173,1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(173,173,173,1);
    box-shadow: 2px 3px 5px 0px rgba(173,173,173,1);
}
.episode-item-container:hover{
    background-color: rgb(163, 163, 163);
}
.episode-item-title{
}
.episode-item-dltext{
    color: white;
    text-decoration: none;
    background-color: rgb(39, 0, 78);
    padding: 4px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(173,173,173,1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(173,173,173,1);
    box-shadow: 2px 3px 5px 0px rgba(173,173,173,1);
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto ;
}


.note{
    float: left;
}
.copyright{
    float: right;
}